.menu {
    height: 40px;
    border: 1px solid gray;
    background-color: violet;
    padding-bottom: 9px;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navMenu::after{
    content: '';
    display: block;
    clear: both;
}

.navMenu li{
    display: inline;
    list-style: none;
    text-align: left;
}

.navMenu li a {
    padding-left: 1.2vw;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.navMenu li a:hover {
    font-weight: bold;
    color: rgb(253, 253, 142);
}
